.dart_tool/
.packages
.pub/
build/
windows/flutter/ephemeral/
windows/flutter/generated_plugins.cmake
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugin_registrant.h
windows/runner/GeneratedPluginRegistrant.h
windows/runner/GeneratedPluginRegistrant.cc
